
    <!-- Fixed navbar -->
    <div class="fixed">
        <nav class="top-bar" data-topbar role="navigation" >
          <ul class="title-area">
            <li class="name">
              <h1><a href="#">Rootsy</a></h1>
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li><a href="#">How it works</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/signin">Sign In</a></li>
                <li><a href="/signout">Sign Out</a></li>          
            </ul>

            <!-- Left Nav Section -->
            <!--ul class="left">
              
            </ul -->
          </section>
          
        </nav>
    </div>

    <!-- messages -->

    
    <!-- header -->
    <!-- sebastian ,remember to add the right padding here -->
    <header>
        <!-- sebastian, remember wrap messages on their own container  -->
        <%= render 'layouts/messages' %>

        <section  class="row">
            <div class="medium-12 columns text-center">
                <h1>Get paid to connect friends with opportunities</h1>
                <!-- graphic here> -->
                <div>
                    <img src="assets/homepage_transaction.png">
                </div>
                <button class="button radius clearfix" data-reveal-id="registration-modal">Register with LikendIn</button>
            </div>
        </section>

    </header>

    <article class="content">
        <div class="row">
            <div class="medium-12 columns">
                <section class="small-4 columns">
                    <h2>Find</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet elit ultricies, placerat augue nec, interdum velit. Nunc dapibus sodales augue a tincidunt. Integer ultrices nibh vel scelerisque lobortis. Duis malesuada neque nec tortor vehicula, vitae malesuada lectus tincidunt. 
                    </p>
                    <button class="button radius clearfix">SEE ALL JOBS</button>
                </section>
                <section class="small-4 columns">
                    <h2>Share</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet elit ultricies, placerat augue nec, interdum velit. Nunc dapibus sodales augue a tincidunt. Integer ultrices nibh vel scelerisque lobortis. Duis malesuada neque nec tortor vehicula, vitae malesuada lectus tincidunt. 
                    </p>
                    <button class="button radius clearfix">REACH OUT</button>
                </section>
                <section class="small-4 columns">
                    <h2>Mobilize</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet elit ultricies, placerat augue nec, interdum velit. Nunc dapibus sodales augue a tincidunt. Integer ultrices nibh vel scelerisque lobortis. Duis malesuada neque nec tortor vehicula, vitae malesuada lectus tincidunt. 
                    </p>
                    <button class="button radius clearfix">GET PAID</button>
                </section>
            </div>
        </div>
    </article>
    <footer class ="row">
        <div class="row">
            <div class="medium-12 columns">
                <section class ="small-4 columns">
                    <a href="#">How it works</a>
                </section>
                <section class ="small-4 columns">
                    <a href="#">Contact</a>
                </section>
                <section class ="small-4 columns">
                    <a href="#">Terms and Privacy</a>
                </section>
            </div>
        </div>
    </footer>


<!-- Sebastian, remember to mo move this to it's own view so it loads after the body tag -->
    <div id="registration-modal" class="reveal-modal small" data-reveal>
      <h2>Register</h2>
      <p class="lead">Lead Paragraph</p>
      <p>secondary messaging paragraph</p>

      <form>

            <div class="centered">



            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
            <%= devise_error_messages! %>

                <div class="row">
                    <div class="small-3 columns">
                      <%= f.label :email, class: "right inline" %>
                    </div>
                    <div class="small-9 columns">
                      <%= f.email_field :email, class: "", placeholder:"example@example.com" %>
                    </div>
                </div>

                <div class="row">
                    <div class="small-3 columns">
                        <%= f.label :password, class: "right inline" %>
                    </div>
                    <div class="small-9 columns">
                        <%= f.password_field :password, autocomplete: "off", class: "", placeholder:"password" %>
                    </div>
                </div>
            
                <div class="row">
                    <div class="small-3 columns">
                        <%= f.label :password_confirmation, class: "right inline" %>
                    </div>
                    <div class="small-9 columns">
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "", placeholder:"password" %>
                    </div>
                </div>
                
                <div class="row">
                    <div class="small-4 columns">
                        <%= link_to "Add Linkedin", "auth/linkedin" %>
                    </div>
                    <div class="small-4 columns">
                        <%= link_to "Add Facebook", "auth/facebook" %>
                    </div>
                    <div class="small-4 columns">
                        <%= link_to "Add Google", "auth/google_oauth2" %>
                    </div>
                </div>
                <div class="row">
                    <%= f.submit "Sign up", class: "button radius clearfix" %>
                </div>

            <% end %>

                    
            </div>
        </form>


      <a class="close-reveal-modal">&#215;</a>
    </div>




